:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #2f303a;
  --title-white-color: rgba(255, 255, 255, 0.6);
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* Шапка сайта */

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header {
  list-style: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  margin: 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.logo {
  color: var(--accent-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.studio {
  color: var(--primary-text-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link.current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Герой */

.hero {
  text-align: center;
  background-color: var(--primary-black-color);
}

.hero-main {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0px auto;
}

.hero-title {
  margin-bottom: 30px; 
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: none;
}

.button-primary {
  display: inline-block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  letter-spacing: 0.06em;
}

/* Особливості */

.container-list {
  display: flex;
  text-decoration: none;
}

.container-list .item + .item {
  margin-left: 30px;
}

.pec-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.pec-text {
  width: 270px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Чим ми займаємося */

.what-doing {
  margin-bottom: 50px;
  text-align: center; 
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.container-work {
  display: flex;
  justify-content: center;
}

.container-work .item + .item {
  margin-left: 30px;
}

/* Наша команда */

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.out-team {
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.our-people {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.people {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list li:not(:first-child) {
  margin-left: 8px;
}


.button-applications {
  display: inline-block;
  text-align: center;
}

.button-applications {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-applications:hover,
.button-applications:focus {
  color: var(--accent-color);
}

.desing-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-title {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.container-title:nth-child(3n) {
  margin-right: 0;
}

.container-title:nth-child(-n + 3) {
  margin-bottom: 0;
}

.desing-list {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.desing-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button-applications.current {
color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Футер */

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  margin-top: 20px;
  background-color: var(--primary-black-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  margin-top: 12px;
  margin-left: 100px;
}

.container-footer {
  margin-left: 100px;
}

.logotipo {
  padding-bottom: 20px;
}

.address {
  margin: 9px;
}

.address-list .address-mail .address-tel {
  text-decoration: none;
  font-style: normal;
}


.address-city:hover,
.address-city:focus {
  color: var(--accent-color);
}

.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

.address-city {
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-mail {
  color: var(--title-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-tel {
  color: var(--title-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.tipo {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
