:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #2f303a;
  --title-white-color: rgba(255, 255, 255, 0.6);
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* Шапка сайта */

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header .site-nav {
  display: flex;
  padding: 50px;
  margin: auto;
  list-style: none;
  justify-content: space-around;
  
}

.list {
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.container {
margin-left:0 auto;
margin-right:0 auto;
width: 1200;
padding-left: 15px;
padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: auto;
}

.logo {
  color: var(--accent-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.studio {
  color: var(--primary-text-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link.current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Герой */

.hero {
  text-align: center;
  background-color: var(--primary-black-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: none;
}

.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Особливості */

.pec-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.pec-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Чим ми займаємося */

.what-doing {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Наша команда */

.out-team {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.our-people {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.people {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button-applications {
  color: var(--primary-text-color);
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-applications:hover,
.button-applications:focus {
  color: var(--accent-color);
}

.desing-list {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.desing-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button-applications.current {
color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Футер */

.footer {
  background-color: var(--primary-black-color);
}

.address-city:hover,
.address-city:focus {
  color: var(--accent-color);
}

.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

.address-city {
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-mail {
  color: var(--title-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-tel {
  color: var(--title-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.tipo {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
